/* Bottom-centered window position and sizing */
window {
    location:                         south;
    anchor:                           south;
    x-offset:                         0;
    y-offset:                         -8;
    width:                            48%;
    border-radius:                    2px;
    background-color:                 var(blackdarkest);
}

mainbox {
    padding:                          4px 6px;
}

listview {
    lines:                            8;
}
