{
	"data": "ENC[AES256_GCM,data:U+F7jywkrUeU6TpoO1JqVgdTDwnWJMkE1Q71PE3KvNnw2r5MAIeTqOZp74RC9tNA+9XiBscnWY/m0Ey2QmzVDA==,iv:ExeeBkVqAawmVjJLstrpuCNSYYEwrEAD00NTRaWjdW4=,tag:oI76f8L0cNAQj1lVCyc3Ew==,type:str]",
	"sops": {
		"kms": null,
		"gcp_kms": null,
		"azure_kv": null,
		"hc_vault": null,
		"age": [
			{
				"recipient": "age1eggdzmjp2h4a68kn0j5zay72s7s6tc7qzak6cy9zp3dj0rwxxetsmz4t52",
				"enc": "-----BEGIN AGE ENCRYPTED FILE-----\nYWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBEbGh1QVFxTEplSVkvakFD\nYmljS2pDYklVcVBYeVppY29mdUVZMlVQbUR3CnpnTXhPSmVjMkYrSTFKVnZhVUEr\nbzJycTZwWVFsV2drdEdqL3g0R1E2akUKLS0tIHhMakpuMDdCUTI4R2YwaDVzN2hE\naDZyKzRLVHRUL1FZY0tSaUVvVmcvM1kKEfXAM3GGlwXtkY8jNiyr5gB07+iBn7ul\nhzThJejiU+Vhle52WzMp6K6ckiWJfeuNPn6v4u32czMvhW1dSDgXZw==\n-----END AGE ENCRYPTED FILE-----\n"
			}
		],
		"lastmodified": "2024-02-03T11:05:03Z",
		"mac": "ENC[AES256_GCM,data:ZjB2Hsf970+7vUZjXS5Ct7z8mJ21HrN3E6ozYmSQFf4U2LVyuxicIiGVlQK1Wv3Etl7Spe0v/FOGpy/0WeFv1/4LF+AXgV72b6djKx5hyLpuYhGJJMDouJ+qugwYHhTrNP0E9nlSxbvF/mWuwkIKA72c0QyrD0sqQTZ/Lr1Jo2M=,iv:cyo9g+fBGChZhGcCcNyIXCGlP14AT8HkcAQoxvZZLQU=,tag:WXwGkVs4FqXOYqbmf0Y0/A==,type:str]",
		"pgp": null,
		"unencrypted_suffix": "_unencrypted",
		"version": "3.8.1"
	}
}